* { margin:0; padding:0; }

html, body { width:80%; height:100%; }

canvas {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#spin {
    position: absolute;
    bottom: 50%;
    left: 88%;
    right: 0;
    font-size: 1.9em;
    min-width: 90px;
}